### Tuple

Un dato tipo **tuple** es una secuencia de objetos en Python *inmutable*.

La forma más fácil de crearse es:

In [1]:
tup = (4,5,6)
tup

(4, 5, 6)

## Comando Tuple

Podemos definir una secuencia de Python, y luego convertirla a tupla. La secuencia de Python es mutable, mientras que una vez que se convierte a tupla ya no lo será.

Veamos un ejemplo:

In [2]:
seq = [2,4,6]
tup = tuple(seq)
tup

(2, 4, 6)

In [3]:
stringing = 'string'
tup_string = tuple(stringing)
tup_string

('s', 't', 'r', 'i', 'n', 'g')


Ahora vamos a ver una propiedad de inmutabilidad de una tupla sobre el objeto que definimos arriba como **tup**

In [7]:
seq[1] = 'a'
seq

[2, 'a', 6]

Vemos como **seq** se puede modificar, y ahora veremos que al convertir a *tuple* esta cualidad desaparece de el objeto tipo **tuple**.

In [9]:
tup = tuple(seq)
tup

(2, 'a', 6)

In [10]:
tup[1] = 'b'

TypeError: 'tuple' object does not support item assignment

## Nested Tuples (Tuplas Anidadas)

Como su nombre lo indica, los **nested tuples** son tuplas de python, cuyas elementos pueden ser otras tuplas.

A continuación un ejemplo:

In [11]:
nested_tup = (4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

Veamos como podemos acceder con el primer indice `i` del tuple `tup[i]`. Y a los elementos de este **`tup[i]`** podemos acceder con el segundo índice `j` del `tup[i][j]`.

In [12]:
nested_tup[0]

(4, 5, 6)

In [13]:
nested_tup[1]

(7, 8)

In [14]:
nested_tup[-1]

(7, 8)

In [17]:
nested_tup[0][1]

5

Podemos acceder al elemento `nested_tup[0][1]`, el cual vemos que es igual a `5`. Al tratar de cambiar su valor con una asignación simple obtenemos un error.

In [18]:
x = "hola"
print(id(x))     # ID de objeto
x = x + " mundo"
print(id(x))     # ⚠️ Cambió, se creó un objeto nuevo

136466023352912
136466023915632

# Objetos Mutables e Inmutables en Python

En Python, la diferencia clave es:

- **Mutable**: el objeto se puede modificar en memoria.  
- **Inmutable**: cualquier “cambio” crea un objeto nuevo.

---

## &#128313; Objetos Inmutables
Estos **no se pueden modificar** después de crearlos:

- `int` → enteros  
- `float` → números decimales  
- `bool` → `True` / `False`  
- `str` → cadenas de texto  
- `tuple` → tuplas  
- `frozenset` → conjuntos inmutables  
- `bytes` → secuencia de bytes fija  

Ejemplo:
```python
x = "hola"
print(id(x))        # ID en memoria
x = x + " mundo"    # se crea un nuevo objeto
print(id(x))        # diferente ID
```

# &#128313; Objetos Mutables

Estos si se pueden modificar en memoria

- `list` &rarr;  listas
- `dict` &rarr; diccionarios
- `set`  &rarr; conjuntos
- `bytearray` &rarr; secuencias de bytes modificables
- Objetos definidos por el usuario (clases e instancias)
- `array.array` (del módulo `array`)

Ejemplo:

```python
y = [1,2,3]
print(id(y)) # ID en memoria
y.append(4)  # se modifica en el mismo lugar
print(id(y)) # mismo ID
```

## Concatenación de tuples

Se pueden concatenar tuples con el operador suma: `+`.

```python
In[] : (4,None,'foo')+(6,0)+('bar',)
Out[]: (4,None,'foo',6,0,'bar')
```

Cuando requerimos hacer una figura repetitiva con tuples también podemos usar el operador de multiplición : `*`.


```python
In[] : ('a','b')*2
Out[]: ('a','b','a','b')
```

In [23]:
(4,None,'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [24]:
('a','b')*2

('a', 'b', 'a', 'b')

## Desempaquetado de tuples

En Python, cuando escribes varias variables separadas por comas en el lado izquierdo de un signo `=`, Python reparte automáticamente *(‘desempaqueta’)* los valores del  tuple (o de cualquier iterable) en esas variables.

```python
In[] : tup = (1,2,3)
In[] : a, b, c = tup
In[] : print(a)
Out[]: a=1        #Así de forma sucesiva con b y c
```

Esto funciona también con tuples anidadas (nested tuples).


```python
In[] : tup = 4,5,(6,7)
In[] : a,b,(c,d) = tup
In[] : d
Out[]: 7
```

In [25]:
tup = (1,2,3)
a, b, c = tup
print(a)

1

In [26]:
tup = 4,5,(6,7)
a,b,c = tup
c            #note que modifique el ejmplo anterior para mostrar que Python
             # toma en c la estructura de tupla en lugar de entero.

(6, 7)

## Intercambio valores entre variables **(Swap)**

Sabemos que para intercambiar variables usamos un código como el siguiente

```python
tmp = a
a = b
b= tmp
```
Aquí `tmp` toma el valor de `a`, luego `b` es asignado a `a` y al final `b` toma el valor de `tmp`.